In [26]:
#importation des bibliothéque 
import statsmodels.formula.api as s
from sklearn.linear_model import LinearRegression
from sklearn.metrics import confusion_matrix,accuracy_score
from matplotlib import pyplot as plt
from sklearn.model_selection import train_test_split
import numpy as np
import pandas as pd
import datetime

from sklearn.preprocessing import LabelEncoder
from mlxtend.preprocessing import minmax_scaling
#importation base de donnée
# df = pd.read_csv('/content/drive/MyDrive/stageASM/dataset.csv',header=None)

In [27]:
df = pd.read_csv(r'C:\Users\rabi3\OneDrive\Bureau\freelance\DataSets\Fixing-ML-models_freelancing_Datasets/dataset.csv')

# for testing
dff = df

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 4 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   ART_Designation  1048575 non-null  object
 1   price            1048575 non-null  float64
 2   ddm              1048575 non-null  object
 3   qte              1048575 non-null  int64
dtypes: float64(1), int64(1), object(2)
memory usage: 32.0+ MB

In [29]:
le = LabelEncoder()
df["ART_code"] = le.fit_transform(df["ART_Designation"])

In [30]:
# mix-max scale the data between 0 and 1
# minmax_scaling is a function loaded from library
df['ART_scaled']= minmax_scaling(df["ART_code"] , columns=[0])

c:\Users\rabi3\AppData\Local\Programs\Python\Python310\lib\site-packages\mlxtend\preprocessing\scaling.py:40: FutureWarning: Support for multi-dimensional indexing (e.g. `obj[:, None]`) is deprecated and will be removed in a future version.  Convert to a numpy array before indexing instead.
  ary_new = ary_new[:, np.newaxis]

In [31]:
# number Of Prodect
df['ART_Designation'].value_counts().count()

14307

In [32]:
# delete product with negative quantity
def delete_Qte_Negative (df):
    return df[df['qte']>0]

In [33]:
# delete product with negative price
def delete_Price_Negative (df):
    return df[df['price']>0]

In [34]:
df = delete_Qte_Negative (df)
df = delete_Price_Negative (df)

In [35]:
df =dff

In [36]:
# ust for testing 
# display the number of a single prodect by quantity
df2 = df.groupby(['ART_Designation','qte']).filter(lambda x : len(x)>10)
df2[df2['ART_Designation']=="EAU M. SAFIA 1.5L /QT6"]["qte"].value_counts()

1     282
6     263
2     194
12    129
3      57
4      51
18     36
24     15
5      12
Name: qte, dtype: int64

In [37]:
# nfaskhou les produits eli ma tbe3oush barsha
# mathalan produit tbe3 mara wa7da fi dataset fiha malyoun vente lazem yetfasakh khater yetsama outliers w ynjaem 
# y8altelna el model 
#  we delete products which had been sold less than 50 times in the dataset
def delete_Outliers(df):
    return df.groupby('ART_Designation').filter(lambda x : len(x)>50)

In [38]:
#  we delete << foreach product >> products which had been sold less than 10 times "grouped by quantity"  in the dataset
def delete_product_Outliers(df):
    return df.groupby(['ART_Designation','qte']).filter(lambda x : len(x)>10)

In [39]:
df = delete_Outliers(df)
df = delete_product_Outliers(df)

In [ ]:
df['day'] = pd.DatetimeIndex(df['ddm']).day
df['month'] = pd.DatetimeIndex(df['ddm']).month
df['day_of_week'] = pd.DatetimeIndex(df['ddm']).weekday

In [42]:
df = df.reset_index()

In [43]:
df[df['ART_Designation']=="EAU M. SAFIA 1.5L /QT6"]

,index,ART_Designation,price,ddm,qte,ART_code,ART_scaled,day,month,day_of_week
0,0,EAU M. SAFIA 1.5L /QT6,0.600,31/12/2021,2,5381,0.376136,31,12,4
91,104,EAU M. SAFIA 1.5L /QT6,0.600,31/12/2021,12,5381,0.376136,31,12,4
283,327,EAU M. SAFIA 1.5L /QT6,0.600,31/12/2021,3,5381,0.376136,31,12,4
742,876,EAU M. SAFIA 1.5L /QT6,0.600,31/12/2021,18,5381,0.376136,31,12,4
838,996,EAU M. SAFIA 1.5L /QT6,0.600,31/12/2021,1,5381,0.376136,31,12,4
...,...,...,...,...,...,...,...,...,...,...
781472,859865,EAU M. SAFIA 1.5L /QT6,0.600,01/02/2022,6,5381,0.376136,2,1,6
781637,860046,EAU M. SAFIA 1.5L /QT6,0.583,01/02/2022,1,5381,0.376136,2,1,6
782899,861395,EAU M. SAFIA 1.5L /QT6,0.600,01/01/2022,6,5381,0.376136,1,1,5
783619,862197,EAU M. SAFIA 1.5L /QT6,0.600,01/01/2022,1,5381,0.376136,1,1,5
783673,862257,EAU M. SAFIA 1.5L /QT6,0.600,01/01/2022,2,5381,0.376136,1,1,5

In [44]:
final_df = df[['ART_scaled','day','month','qte']].copy()

In [45]:
# day from 1 to 31
final_df

        ART_scaled  day  month  qte
0         0.376136   31     12    2
1         0.413952   31     12    1
2         0.173354   31     12    1
3         0.926604   31     12    2
4         0.816930   31     12    2
...            ...  ...    ...  ...
879259    0.143646   20     10    1
879260    0.531385   20     10    1
879261    0.320145   20     10    1
879262    0.524395   20     10    1
879263    0.100517   20     10    2

[879264 rows x 4 columns]

In [46]:
x=df[['ART_scaled', 'day', 'month']]
y=df['qte']

In [47]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.1)

In [48]:
reg=LinearRegression()
reg.fit(x_train,y_train)
print ( reg. intercept_ ) 
print ( reg. coef_ )

2.9422576206771964
[-0.59864966 -0.00821924  0.00400397]

In [49]:
#Here x.values will have only values without headers
y_pred=reg.predict(x_test)

In [50]:
reg_df=pd.DataFrame()
reg_df['originale']=y_test
reg_df['Predictions']=y_pred
reg_df

        originale  Predictions
436159          1     2.672040
722198          1     2.339530
249549          1     2.218330
178486         12     2.197420
647771          6     2.708440
...           ...          ...
845045          8     2.405278
425             2     2.666421
527739          2     2.597725
613018          1     2.477845
108333          1     2.649175

[87927 rows x 2 columns]